.cabecalho{
    background-color: #001b17;
    width: 100%;
    padding-top: 10px;
}

.titulo{
    text-align: center;
    color: #2e7475; 
}

.link_cabecalho{
    text-align: center;
    padding-bottom: 25px;
    font-family: fantasy;
}

a{
    text-decoration: none;
}

.pad_link_cabe:hover{
    color: #47afb1;
}

.fundo{
    background-color: #e1ffff;
}

.apresentacao{
    font-family: fantasy;
    color: #001b17;
    text-align: center;
}

.text_footer{
    text-align: center;
    font-family: serif;
    color: #2e7475;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad_link_cabe{
    padding-left: 20px;
    padding-right: 20px;
    color: #2e7475;
    text-align: center;
    text-decoration: none;
}

.rodape{
    background-color: #001b17;
}

img{
    border-radius: 20px;
    border: 4px solid #001b17;
}

.text_apresentacao{
    color: #001b17;
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    font-family: serif;
}

/* Aula 05 - Flexbox e Grid */

.imagem-centro {
    display: flex;
    justify-content: center; 
    align-items: center;     
    margin: 20px 0;          
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    padding-left: 100px;
}

.produto img {
    width: 200px; 
    height: auto;
    border-radius: 15px;
    border: 3px solid #001b17;
    transition: transform 0.3s ease;
}

.produto {
    padding-bottom: 4px;
}

.produto-txt {
    padding-bottom: 30px;
    text-align: left;
    color: #001b17;
    font-family: fantasy;
}

.produto img:hover {
    transform: scale(1.05);
}

@media(max-width: 1024px){



}
