.cabecalho{
    background-color: #001b17;
    width: 100%;
    padding-top: 10px;
}

.titulo{
    text-align: center;
    color: #2e7475;  
}

.link_cabecalho{
    text-align: center;
    padding-bottom: 25px;
    font-family: fantasy;
}

a{
    color: #2e7475;
    text-align: center;
}

.fundo{
    background-color: #e1ffff;
}

.apresentacao{
    font-family: fantasy;
    color: #001b17;
    text-align: center;
}

.text_footer{
    text-align: center;
    font-family: fantasy;
    color: #2e7475;
    padding-top: 10px;
}

.pad_link_cabe{
    padding-left: 20px;
    padding-right: 20px;
}

.rodape{
    background-color: #001b17;
}